<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
body { 
    background: url({{ url_for('static', filename='dust_scratches.png') }}) repeat 0 0;
}
</style>
	<title>Service Discovery</title>
</head>
<body>
	<div class="container">
		<div class="row justify-content-md-center">
			<h1 class="display">Amazon ECS Service Discovery</h1>
		</div>
		<div class="row justify-content-md-center">
			<div class="col">
				<p>This is a short demo of service discovery in <a href="https://aws.amazon.com/ecs/">Amazon ECS</a>.</p>
				<p>Let's imagine we have a social network with a number of container powered microservices like "auth", "backend", "user", "timeline", "feed", "worker", "friend", and more. We can have all of these services in their own autoscaling groups so they respond to changing loads.</p>
				<p>As our tasks scale up and down in response to load ECS is able to use <a href="https://aws.amazon.com/route53/">Amazon Route 53</a> to add and remove DNS records for each task.</p>
				<p>Our clients can either query for possible hosts (over API or DNS) or just connect to whatever IP the host resolves to. Below you can see an example of enumerating the services and hosts with the ListServices and ListInstances API calls.</p>
				<p>You can find more details on service discovery in the <a href="https://aws.amazon.com/blogs/aws/amazon-ecs-service-discovery/">blog post</a> and in the <a href="https://github.com/ranman/ecs-service-discovery-demo">code</a>.</p>
			</div>
		</div>
		<hr>
		<div class="row justify-content-md-center">
			<div class="col">
				<p>These are the services I found, if you refresh the page the IPs of the workers should change:</p>
				<ul>
				{% for service in services %}
					<li><h2>{{service.name}} - {{service.addr}}</h2><strong>Service Response:</strong> {{service.text|safe}}
						<p>Chose one out of {{service.num_hosts}} possible hosts</p>
					</li>
				{% endfor %}
				</ul>
			<img src="{{url_for('static', filename='sd.png')}}" class="img-fluid" alt="architecture diagram">
			</div>
		</div>
	</div>
</body>
</html>
